* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  padding: 0 16px;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background-color:inherit;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,form.create-note span,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

#listIcon{
  position:relative;
  bottom:5px;
  right:0;
  float:right;
  background: #fff;
  color:black;
}

.Icon .tooltip {
  visibility: hidden;   
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 10%;
  left: 90%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.Icon .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.Icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.inline{
  display:inline-block;
  float:right;
}

.expand{
  display:inline-block;
  width: 80%;
}

#addItem{
  right:60px;
}

ul, ol {
  margin-left: 0.75em;
  text-align: left;
}

.splash{
  font-family: "McLaren", cursive;
  position: fixed;
  top: 0;
  left:0;
  width:100%;
  height:100vh;
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  z-index:2;
  color: #f5ba13;
  text-align: center;
  line-height: 90vh;
  font-size:1rem;
}

.splash.display-none{
  font-family: "McLaren", cursive;
  position: fixed;
  opacity: 0;
  top: 0;
  left:0;
  width:100%;
  height:100vh;
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  z-index:-1;
  color: #f5ba13;
  text-align: center;
  line-height: 90vh;
  transition: all 0.7s;
}

@keyframes fadeIn{
  to{
    opacity:1;
  }
}

.fade-in{
  opacity:0;
  animation: fadeIn 1s ease-in forwards;
}
.content{
  z-index:1;
}

.focused{
  position: fixed;
  top: 0;
  left:0;
  width:100%;
  height:100vh;
  background:black;
  z-index:2;
  line-height: 90vh;
  background: rgba(0, 0, 0, 0.4);
}

.focusNote{
  
  min-height: 10%;
  max-height: 40%;
  line-height: normal;
  z-index:3;
  opacity: 2;
  background: rgb(255, 255, 255);
  position:absolute;
  bottom:50%;
  right:45%;
  margin: 0 auto;
}